<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title  th:text="${title}"></title>
</head>
<body>


    <nav class="navbar-expand-lg navbar navbar-inverse navbar-fixed-top " th:fragment="header">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">Ksiazki</a>
                </li>
            </ul>
        </div>
    </nav>

</body>
</html>